.legal-container {
  @include marginTop();
  padding: 50px 0;
  .legal-img {
    height: 200px;
    object-fit: cover;
    width: 200px;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.363);
    border: 1px solid $color-primary;
  }
}
