$sec-main-heading: 3.6rem;
$sec-inner-heading: 2.4rem;
$sec-inner-text: 1.8rem;
$color-white: #fff;
$color-black: #000;
$color-primary: #da251c;
$color-primary-lg: #e67817;
$footer-bg: #015198;
$copyright-bg: #054279;
$color-secondary: #f8c301;

@mixin marginTop {
  margin-top: 72px;
}
@mixin trans {
  transition: all 0.35s linear;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
